<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="{{ site.description }}" />
  <meta name="author" content="" />

  <title>
    {% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}
  </title>

  <link rel="icon" href="/favicon.png" />
  <link href="{{ '/assets/css/styles.css' | relative_url }}" rel="stylesheet" />
  <script src="{{ '/assets/js/scripts.js' | relative_url }}" defer></script>
  <script src="{{ '/assets/js/nodeGardenModule.js' | relative_url }}" type="module"></script>
</head>