<section id="highlights" class="highlights">
  <h2 class="section-heading">Highlights</h2>
  <p class="hightlights-message">
    Recent highlights shown here, see All Projects for a complete list.
  </p>
  <article class="highlights-item-container">
    {% for post in site.posts limit:6 %}
    <div class="highlights-item">

      <div class="highlights-caption">
        <h3 class="highlight-title">
          <a href="{{ post.url | relative_url }}">
            {{ post.title }}
          </a>
        </h3>
        {{ post.excerpt | truncatewords: 50 }}
      </div>
    </div>
    {% endfor %}
  </article>
  <div class="btn-container">
    <a class="btn" href="{{ '/projects' | relative_url }}">All Projects</a>
  </div>
</section>