<header class="navbar">
  <div class="top-nav-wrapper">
    <div class="nav-brand">
      <h1 class="brand-text">
        <a href="{{ '/' | relative_url }}">Andre Bhaseen</a>
      </h1>
      <button class="menu-button hamburger-container" aria-label="mobile menu button">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
      </button>
    </div>
    <nav class="top-nav">
      <ul>
        <li><a href="{{ '/#about' | relative_url }}">About</a></li>
        <li><a href="{{ '/#skills' | relative_url }}">Skills</a></li>
        <li><a href="{{ '/projects' | relative_url }}">Projects</a></li>
      </ul>
    </nav>
  </div>
</header>