<section id="skills" class="skills">
  <h2 class="section-heading">Skills</h2>

  <div class="skills-container">
    <article class="skills-sub-section">
      <h3 class="skill-heading">Programming</h3>
      <div class="skills-image-container">
        <figure>
          <img src="assets/images/Cpp_Logo.svg" />
          <figcaption>C/C++</figcaption>
        </figure>
        <figure>
          <img src="assets/images/Python-logo-notext.svg" />
          <figcaption>Python</figcaption>
        </figure>
        <figure>
          <img src="assets/images/Java_logo.svg" />
          <figcaption>Java</figcaption>
        </figure>
      </div>
    </article>

    <article class="skills-sub-section">
      <h3 class="skill-heading">Mobile</h3>
      <div class="skills-image-container">
        <figure>
          <img src="assets/images/Android_logo.svg" />
          <figcaption>Android</figcaption>
        </figure>
      </div>
    </article>

    <article class="skills-sub-section">
      <h3 class="skill-heading">Web</h3>
      <div class="skills-image-container">
        <figure>
          <img src="assets/images/HTML5_logo.svg" />
          <figcaption>HTML</figcaption>
        </figure>
        <figure>
          <img src="assets/images/CSS3_logo.svg" />
          <figcaption>CSS</figcaption>
        </figure>
        <figure>
          <img src="assets/images/JavaScript_logo.svg" />
          <figcaption>JavaScript</figcaption>
        </figure>
        <figure>
          <img src="assets/images/React_logo.svg" />
          <figcaption>React</figcaption>
        </figure>
      </div>
    </article>

    <article class="skills-sub-section">
      <h3 class="skill-heading">Adobe Creative Cloud</h3>
      <div class="skills-image-container">
        <figure>
          <img src="assets/images/Adobe_Photoshop_logo.svg" />
          <figcaption>Photoshop</figcaption>
        </figure>
        <figure>
          <img src="assets/images/Adobe_Illustrator_logo.svg" />
          <figcaption>Illustrator</figcaption>
        </figure>
        <figure>
          <img src="assets/images/Adobe_XD_logo.svg" />
          <figcaption>XD</figcaption>
        </figure>
      </div>
    </article>
  </div>
</section>