.highlights {
  min-height: 50vh;
  text-align: center;
}

.hightlights-message {
  margin-bottom: 2em;
}

.highlights-item-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
}

.highlights-item {
  padding: 1em;
  border-radius: 0.5rem;
  box-shadow: 0 0 4px 2px rgba(dodgerblue, 0.75);
}

.highlights-caption {
  & > p {
    text-align: left;
  }
}

.highlight-title {
  display: inline-block;
  margin-bottom: 1em;
}

.highlight-body {
  text-align: left;
}

@include mq {
  .highlights-item-container {
    width: 80%;
    margin: auto;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 2rem;
  }
}
