.post {
  p {
    margin: 1.5rem 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-align: center;
    margin: 1rem 0;
  }

  hr {
    margin-bottom: 1em;
  }

  ul {
    width: 90%;
    margin: auto;
  }

  ul li {
    list-style: square;
  }
}

.post-header {
  margin: 1.5rem 0;
  text-align: center;
}

.post-date {
  font-size: inherit;
}

.post-category {
  margin: 1.5em 0;
}

.post-description {
  margin: 1.5em 0;
}

.post-image,
.post-wrapper img {
  box-shadow: 0 0.5rem 0.5rem 0 rgba(0, 0, 0, 0.25);
}

@include mq {
  .post-wrapper {
    max-width: var(--screen-max-width);
    margin: 0 auto;
  }
}
