.projects {
  text-align: center;
}

.project-details {
  text-align: center;
  padding: 1rem;

  p {
    margin: 1rem 0;
  }

  img {
    max-height: 80vh;
    object-fit: scale-down;
  }
}

.project-title {
  font-weight: 700;
  margin-bottom: 1rem;
}

.project-category {
  font-size: 1.25rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.project-description {
  text-align: left;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.project-image {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  border: 1px solid black;
}

@include mq {
  .projects {
    max-width: var(--screen-max-width);
    margin: 0 auto;
  }

  .project-details {
    padding: 2rem 0;
  }
}
